* {
  font-family: 'Raleway', sans-serif; }

.recipe-name {
  padding: 5px;
  border-radius: 3px;
  font-size: 2rem;
  margin-bottom: 5px; }

.ingredient {
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 5px; }

.recipe-box {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 5px; }

.recipe-form {
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 5px; }

.recipe-form input, .recipe-form button {
  margin: 5px;
  padding: 5px; }

.fr {
  float: right;
  font-size: 1.8rem; }
